langchain
ipykernel
python-dotenv
langchain-community
pypdf
BeautifulSoup4
pymupdf
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
scikit-learn
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
ddgs
validators==0.28.1
youtube_transcript_api
unstructured
pytube
youtube-transcript-api
openai-whisper
yt_dlp
numexpr
huggingface_hub
cassio
datasets
tiktoken
openai
PyPDF2
gradio # for frontend UI